version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Docker images
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "05:00"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Rust
  # Note: Dependabot can't recursively search directories at the moment
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/node"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/node/rpc"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/pallets/creditcoin"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/pallets/difficulty"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/pallets/rewards"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/primitives"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/runtime"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/sha3pow"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/integration-tests"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/creditcoin-js"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/scripts/js"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "cargo"
    directory: "/pallets/offchain-task-scheduler"
    schedule:
      interval: "weekly"
