[package]
name = "creditcoin-node-rpc"
version = "2.0.0-beta.4"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "2.3.1" }
hex = "0.4.3"
jsonrpc-core = "18.0.0"
jsonrpc-core-client = "18.0.0"
jsonrpc-derive = "18.0.0"
log = "0.4.15"
pallet-creditcoin = { path = "../../pallets/creditcoin" }
pallet-rewards = { path = "../../pallets/rewards" }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"


sp-api = { version = "4.0.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
sp-blockchain = { version = "4.0.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
sp-core = { version = "4.1.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
sp-rpc = { version = "4.0.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
sp-runtime = { version = "4.1.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
sp-state-machine = { version = "0.10.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
sc-rpc = { version = "4.0.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
sc-client-api = { version = "4.0.0-dev", git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8' }
frame-system = { git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8', version = '4.0.0-dev' }
frame-support = { git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8', version = '4.0.0-dev' }
pallet-balances = { git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8', version = '4.0.0-dev' }
pallet-timestamp = { git = 'https://github.com/gluwa/substrate.git', rev = '57cab2f30bcc5343771c8bc763dd6c9c9e10f0a8', version = '4.0.0-dev' }
creditcoin-node-runtime = { version = "2.0.0-beta.4", path = "../../runtime" }
jsonrpc-pubsub = "18.0.0"
futures = "0.3.21"
